<div id="edit-plates" v-cloak>

  <div class="container">
    <h1>Plates</h1>
    <hr/>

    <ajax-form :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm" :handle-submitting="handleEditPlates">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="plate">Plate</label>
            <input class="form-control" id="plate" name="full-name" type="text"  :class="[formErrors.plate ? 'is-invalid' : '']" v-model="formData.plate" placeholder="ABC123"  focus-first>
            <div class="invalid-feedback" v-if="formErrors.plate">Please enter a plate.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <button type="submit" :syncing="syncing" class="btn btn-dark">Add Plate</button>
          </div>
        </div>
      </div>
    </ajax-form>
    <div class="row">

      <div class="col-sm-12">
        <div class="row" v-for="item in plates">
          <div class="col-sm-12">{{item.plate}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
