<div id="release-cell">
  <month :month-data="monthData" :month-name="monthName" v-on:toggled-day="releaseCell($event)"></month>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
