<div id="subscriptions">
  <month :month-data="monthData" :month-name="monthName" v-on:toggled-day="toggleSuscription($event)"></month>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
