# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.awcache

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
/reports
